section.l-blocks.l-top-4
    span#D
    .l-contents
        .l-banner-9
            .contents 
                .titles
                    h2.title.counter.counter--zero
                        | P
                        b.text-green r
                        | ofile
                    span.subtitle サロン案内
            .banner
                img.lazy(data-src="assets/img/top/banner-img-3.jpg")
        .l-block.p-fadeinup.p-delay_1s
            .l-block__title
                .l-container
                    h2.c-title.c-title--center.mb30
                        strong
                            | サ
                            b ロ
                            | ン情報
                        span Salon information
            .l-block__main
                .l-container-1180
                    dl.c-dl.c-dl--green
                        dt サロン名
                        dd SAORI BEAUTY DRESSING。
                        dt 所在地
                        dd
                            .l-container-460.l-flex.justify-content-between.ml-0
                                span
                                    | 〒630-0212
                                    br
                                    | 奈良県生駒市辻町
                                //- a.c-button.c-button--outline.c-button--green.c-radius-5(target="_blank" href="https://www.google.com/maps/place/%E3%80%92630-0221+%E5%A5%88%E8%89%AF%E7%9C%8C%E7%94%9F%E9%A7%92%E5%B8%82%E3%81%95%E3%81%A4%E3%81%8D%E5%8F%B0%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%96%EF%BC%98%EF%BC%90%E2%88%92%EF%BC%92%EF%BC%92/@34.6749694,135.7146511,18.08z/data=!4m5!3m4!1s0x6001248022fc7a13:0x85469c1505ecefb8!8m2!3d34.675037!4d135.7155565")
                                //-     i.c-icon.ic-map-green
                                //-     span Map  
                        dt Tel
                        dd 0743-77-0456
                        //- dt E-mail
                        //- dd saori_beauty_dress@docomo.ne.jp
                        dt 営業時間
                        dd 10:00～17:00
                        dt 定休日
                        dd 不定休　【予約制】
                        dt 駐車場
                        dd あり　【事前申請必要】
            .bg
                img.img.img-cover.lazy(data-src="assets/img/top/bg-5.jpg")
        #E.l-block.p-fadeinup.p-delay_1s
            .l-block__title
                .l-container
                    h2.c-title.c-title--center.mt0
                        strong
                            | 自
                            b 然
                            | 派サロン開業サポート
                        span Naturalism salon opening of business support
            .l-block__main
                .l-container
                    .c-cols.c-col-2.justify-content-between.space-40
                        .thumb
                            figure.c-radius-10
                                img.lazy(data-src="assets/img/top/img-21.jpg")
                        .contents.align-content-center
                            .content
                                h3.c-title-2.w-100
                                    strong
                                        | 貴方の開業を
                                        br
                                        | 全力でサポートします
                                .description.pl-0
                                    p.font-15
                                        | ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章
                                h3.c-title-4.text-center
                                    strong
                                        | 開業のご相談は、
                                        b.u-circle 直
                                        b.u-circle 接
                                        b.u-circle ご
                                        b.u-circle 連
                                        b.u-circle 絡
                                        | ください