section.l-blocks.l-top-1
    .l-contents
        .l-block.p-fadeinup.p-delay_1s
            .l-block__title
                .l-container
                    h2.c-title.c-title--center
                        strong
                            b 「ココロとカラダのケア習慣」
                            | 始めませんか?
                        span How about talking up care custom of a heart and the body
            .l-block__main
                .l-container
                    .c-cols.c-col-2.justify-content-between.space-40
                        .thumb
                            figure.c-radius-10
                                img.lazy(data-src="assets/img/top/img-1.jpg")
                        .contents.align-content-center
                            .content
                                h3.c-title-2.c-title-2.w-100.mb50.mb30tb
                                    strong
                                        | 楽しい時
                                        small も、
                                        | つらい時
                                        small も、
                                        br
                                        | 疲れ
                                        small は
                                        b.text-green.u-border 日々溜まっていくもの
                                        | です
                                .description.pl-0
                                    p.font-15
                                        | どんなに気分が良くって楽しい時も、不安に押しつぶされそうなつらい時も、
                                        br
                                        | 疲れというものは日々少しずつ体に溜まっていくものなのです。
                                        br
                                        | だから、疲れが溜まっていく前に早めに適切なケアをしておく事で、
                                        br
                                        | 大きな不調となることはありません。
        .l-block.p-fadeinup.p-delay_1s
            .l-block__title
                .l-container.d-flex.flex-column
                    span.c-subtitle.text-green.text-center Question
                    h2.c-title-11
                        strong こんな経験ございませんか？
            .l-block__main
                .l-container
                    .c-products.col-3.spece-40
                        .item 
                            figure.c-radius-5
                                img(src="assets/img/top/img-2.jpg", alt="")
                                span.sticker 01
                            .info
                                h3.c-title.c-title--center.c-title--border-top
                                    strong 妊娠しない焦り
                        .item 
                            figure.c-radius-5
                                img(src="assets/img/top/img-3.jpg", alt="")
                                span.sticker 02
                            .info
                                h3.c-title.c-title--center.c-title--border-top
                                    strong 結果が結び付かない
                        .item 
                            figure.c-radius-5
                                img(src="assets/img/top/img-4.jpg", alt="")
                                span.sticker 03
                            .info
                                h3.c-title.c-title--center.c-title--border-top
                                    strong 自己嫌悪
    .bg
        img.img.img-cover.lazy(data-src="assets/img/top/bg-1.jpg")
        