mixin blockBreadcrumb(array)
    section.c-breadcrumb
        .l-container
            ul.c-breadcrumbs
                each item in array
                    li
                        if item.link
                            a(href=item.link)= item.title
                        else 
                            span= item.title