section.l-blocks.c-info-footers
    .l-container-full
        .c-info-footer.col-3
            a.item(href="download.html") 
                .content
                    .btn
                        div
                            strong Download
                            span 各種ダウンロード
                            //- i.c-icon.ic-arrow-down
                        p 詳細
                img.lazy(data-src="assets/img/common/bg-footer-1.jpg")
            a.item(href="greeting.html") 
                .content
                    .btn
                        div
                            strong Greeting
                            span 代表挨拶
                            //- i.c-icon.ic-arrow-down
                        p 詳細
                img.lazy(data-src="assets/img/common/bg-footer-2.jpg")
            a.item(href="profile.html") 
                .content
                    .btn
                        div
                            strong Profile
                            span 会社案内
                            //- i.c-icon.ic-arrow-down
                        p 詳細
                img.lazy(data-src="assets/img/common/bg-footer-3.jpg")