section.l-blocks.l-top-3
    .l-contents
        .l-banner-9
            .contents 
                .titles
                    h2.title.counter.counter--zero
                        | S
                        b.text-green a
                        | lon item
                    span.subtitle こだわりの商品紹介
            .banner
                img.lazy(data-src="assets/img/top/banner-img-2.jpg")
        .l-block.p-fadeinup.p-delay_1s
            .l-block__title
                span#C
                .l-container
                    h2.c-title.c-title--center
                        strong
                            | 厳
                            b 選
                            | した商品をご用意
                        span I prepare the item which selected carefully
                    .l-container-1000
                        blockquote.c-blockquote.c-blockquote--center
                            | 厳選した自然派の商品をご紹介致します。
            .l-block__main
                .l-container
                    .c-products.col-4.spece-40
                        a.item(href="＊＊＊＊.html") 
                            figure.c-radius-5
                                img(src="assets/img/top/img-13.jpg", alt="")
                            .info 
                                h3.title.title--center エッセンシャルオイル
                        a.item(href="＊＊＊＊.html") 
                            figure.c-radius-5
                                img(src="assets/img/top/img-14.jpg", alt="")
                            .info 
                                h3.title.title--center クレイ
                        a.item(href="＊＊＊＊.html") 
                            figure.c-radius-5
                                img(src="assets/img/top/img-15.jpg", alt="")
                            .info 
                                h3.title.title--center ひまし油
                        a.item(href="＊＊＊＊.html") 
                            figure.c-radius-5
                                img(src="assets/img/top/img-16.jpg", alt="")
                            .info 
                                h3.title.title--center 化粧品
                        a.item(href="＊＊＊＊.html") 
                            figure.c-radius-5
                                img(src="assets/img/top/img-17.jpg", alt="")
                            .info 
                                h3.title.title--center 化粧品
                        a.item(href="＊＊＊＊.html") 
                            figure.c-radius-5
                                img(src="assets/img/top/img-18.jpg", alt="")
                            .info 
                                h3.title.title--center クレンジング
                        a.item(href="＊＊＊＊.html") 
                            figure.c-radius-5
                                img(src="assets/img/top/img-19.jpg", alt="")
                            .info 
                                h3.title.title--center ハーブティー
                        a.item(href="＊＊＊＊.html") 
                            figure.c-radius-5
                                img(src="assets/img/top/img-20.jpg", alt="")
                            .info 
                                h3.title.title--center 青汁
                    .l-container-540
                        .c-gr-button.justify-content-center
                            a.c-button.c-button--outline.c-button--green(href="＊＊＊＊.html")
                                i.ic-cursor--green
                                strong 商品を見る
            .bg
                img.img.img-cover.lazy(data-src="assets/img/top/bg-4.jpg")