section.c-mainvisual
    .c-mainvisual__cnt
        h2.c-mainvisual__title
            | 赤ちゃん
            small に
            | 喜ばれる
        h2.c-mainvisual__title
            | 美しく健康
            small になる
            | 子宝メソッド
        h3.c-mainvisual__subtitle －3代に繋がる幸せな家族へ
        //- a.c-showmore2(href="product.html")
        //-     strong 製品一覧を見る
        //-     i.c-icon.ic-arrow-right6
    .c-mainvisual__bg
        //- video.lazy(data-src="assets/video/movie_pc.mp4" playsinline autoplay muted loop)
        //- video.lazy(data-src="assets/video/movie_sp.mp4" playsinline autoplay muted loop)
        //- img.lazy(data-src="assets/img/top/mainvisual-img.jpg")+
        .swiper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .image-container.lazy(data-bg="assets/img/top/mainvisual-img-1.jpg")
                    .swiper-slide
                        .image-container.lazy(data-bg="assets/img/top/mainvisual-img-2.jpg")
                    .swiper-slide
                        .image-container.lazy(data-bg="assets/img/top/mainvisual-img-3.jpg")
                    .swiper-slide
                        .image-container.lazy(data-bg="assets/img/top/mainvisual-img-4.jpg")
            .swiper-pagination
    .c-action
        a.c-action__txt(href="index.html")
            h3
                p
                    strong Welcome to the natural sent salon
            //-         strong ASANO DENTAL LABO
            //-     span
            //-         b Asano Dental Labo
            //-         small 合同会社
            //- //- h4 有限会社よねだ
        //- a#Y_sclorebox(href='#footer')
        //-     #Y_sclore
        //-         div
        //-             span
        //-         p Scroll
    a#Y_sclorebox(href='#footer')
            #Y_sclore
                div
                    span
                p Scroll