header.c-header.fixed
    a.c-header__logo(href='index.html')
        .l-flex.align-items-center
            img.lazy(data-src="assets/img/common/logo-demo.svg", alt="")
            div.ml-3
                span 自然療法＆自然エステ
                h1 SAORI BEAUTY DRESSING。
    div.c-header__action
        //- ul.c-header__menu
        //-     li
        //-         a(href='index.html') 
        //-             strong ホーム
        //-     li
        //-         a(href='technical_1.html') 
        //-             strong ロールフォーミング加工
        //-     li
        //-         a(href='technical_2.html') 
        //-             strong ロボットプレス加工
        //-     li
        //-         a(href='technical_3.html') 
        //-             strong 板金加工
        //-     li
        //-         a(href='machine.html') 
        //-             strong 設備紹介
        //-     li
        //-         a(href='profile.html') 
        //-             strong 会社案内
        //-     li
        //-         a(href='recruit.html') 
        //-             strong 採用情報
        //-     li
        //-         a(href='contact.html') 
        //-             strong お問合せ
        .c-header__contact 
            a(href="tel:0743770456") 
                strong
                    small Tel
                    | 0743-77-0456
            //- a.d-flex.flex-column(href="javascript:void(0)")
            //-     span 営業時間：9:00～17:00
            //-     span
            //-         b 休業日
            //-         | ：木・日曜日　・祝・祭日
    a.btn-toggle
        div
            span
            span
            span
        p Menu
.clear
.c-menu
    ul
        li
            a(href='index.html') 
                strong ホーム
                span Home
        li
            a(href='index.html#B') 
                strong サロンメニュー
                span Salon menu
        li
            a(href='index.html#C')
                strong 商品紹介
                span Item
        li
            a(href='index.html#D')
                strong サロン案内
                span Profile
        li
            a(href='index.html#E')
                strong 開業サポート
                span Support
        //- li
        //-     a(href='***.html')
        //-         strong お問合せ
        //-         span Contact
    .c-qr
        figure 
            img(src="assets/img/common/qr.jpg")
        div
            h3 
                | 公
                b.text-green 式
                | LINE
            hr
            span
                | 公式LINEより
                br
                | 友達登録お願いします
    span.l-contact
        | Tel
        strong 0743-77-0456
//- .c-notification.c-notification--special
//-     a.item(href="※※※※.html") 
//-         figure
//-             img.lazy(data-src="assets/img/top/img-18.jpg")
//-         .info
//-             .cates.cates--center
//-                 span.cate 一個からも販売可能
//-             h3.title.title--center
//-                 strong 
//-                     | オ
//-                     b ン
//-                     | ラインショップ
//-                 span Online shop