section.l-blocks.l-top-2
    .l-contents
        .l-banner-9
            .contents 
                .titles
                    h2.title.counter.counter--zero
                        | S
                        b.text-green e
                        | rvice
                    span.subtitle サロンサービス
            .banner
                img.lazy(data-src="assets/img/top/banner-img-1.jpg")
        .l-block.p-fadeinup.p-delay_1s
            .l-block__title
                .l-container
                    h2.c-title.c-title--center
                        strong
                            | 自然療法
                            small で
                            b 「自己治癒力」
                            small を
                            | 高める
                        span I raise "self-healing power" by a nature cure
                    .l-container-1000
                        blockquote.c-blockquote.c-blockquote--center
                            | 心地よい空間、清潔で自然の光と風と緑がある場所。
                            br
                            | お一人、お一人に対してじっくり向き合い、今、必要な自分にあったケア。
                            br
                            | その場しのぎの場当り的なものでなく、ちゃんと内から良くなる為の本物のケア。
                            br
                            | シンプルだけど大切なこと、もの。
                            br
                            | あたりまえの習慣と基本を大切に、心を込めて精一杯お手伝いさせていただきます。
            .l-block__main
                .c-cols.c-col-2
                    .thumb
                        figure.c-radius-10-l
                            img.lazy(data-src="assets/img/top/img-5.jpg")
                    span#B
                    .contents.max-width.align-content-center.ml40
                        h3.c-title-6
                            strong
                                | カ
                                b ラ
                                | ダ
                                small を
                                | ケアする
                            span.font-12.text-gray.ml-2 _Take care of a body
                        .content.pl-4
                            .description.pl-0
                                p.font-15
                                    | ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章
                            .c-gr-button
                                a.c-button.c-button--outline.c-button--green(href="#" target="_blank")
                                    i.ic-cursor--green
                                    strong メニューを見る
                .c-cols.c-col-2.switch
                    .thumb
                        figure.c-radius-10-r
                            img.lazy(data-src="assets/img/top/img-6.jpg")
                    .contents.max-width.align-content-center
                        h3.c-title-6
                            strong
                                | コ
                                b.text-green コ
                                | ロ
                                small を
                                | ケアする
                            span.font-12.text-gray.ml-2 _Take care of a heart
                        .content.pl-4
                            .description.pl-0
                                p.font-15
                                    | ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章
                            .c-gr-button
                                a.c-button.c-button--outline.c-button--green(href="#" target="_blank")
                                    i.ic-cursor--green
                                    strong メニューを見る
                .l-container-1000
                    .c-contact
                        h3 ご予約はお電話にてお願い致します
                        a(href="#")
                            i.c-icon.ic-phone-green
                            span 072-961-8411
                        p
                            | 施術中は、お電話に出ることができませんが、後ほどこちらからご連絡させて頂きます。
                            br
                            | ※キャンセルの場合は、予約の1日前までにお知らせください。
                            br
                            | ※当日15分を過ぎてもご連絡とご来店がない場合はキャンセルとさせていただきますので、
                            br
                            | 　あらかじめご了承お願い致します。
            .bg.top
                img.img.img-cover.lazy(data-src="assets/img/top/bg-2.jpg")
        .l-block.mb0.p-fadeinup.p-delay_1s
            .l-block__title
                .l-container
                    h2.c-title.c-title--center.mt0
                        strong
                            b 自分の人生
                            | を取り戻しましょう
                        span Let's regain own life
                    .l-container-1000
                        blockquote.c-blockquote.c-blockquote--center
                            | ここに文章が挿入されます。ここに文章が挿入されます。ここに文章が挿入されます。
                            br
                            | ここに文章が挿入されます。ここに文章が挿入されます。ここに文章が挿入されます。
            .l-block__main
                .l-container
                    .c-cols.c-col-2.space-40
                        .thumb
                            figure.c-radius-10
                                img.lazy(data-src="assets/img/top/img-7.jpg")
                        .contents.align-content-center
                            h3.c-title.align-items-baseline
                                strong
                                    | 失
                                    b 敗
                                    small を
                                    | 回避
                                span.font-15.text-gray.ml-3 _失うものは何？
                            h4.c-subtitle 一度しかない人生で、孤独と後悔を抱えたまま生きていく
                            .description.pl-0
                                p.font-15
                                    | ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章
                    .c-cols.c-col-2.space-40.switch
                        .thumb
                            figure.c-radius-10
                                img.lazy(data-src="assets/img/top/img-8.jpg")
                        .contents.align-content-center
                            h3.c-title.align-items-baseline
                                strong
                                    | 成
                                    b 功
                                    small に
                                    | 至る
                                span.font-15.text-gray.ml-3 _新しい状況とは？
                            h4.c-subtitle 明るく自信に満ち溢れた、人生の再スタートをしている
                            .description.pl-0
                                p.font-15
                                    | ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章ここに文章が入ります。これはサンプルの文章
        .l-block.p-fadeinup.p-delay_1s
            .l-block__main
                .c-historys
                    .swiper
                        .left
                            .item-main
                                h3 これまでの経緯
                                span - History -
                                p 私が、SAORI BEAUTY DRESSING。を開業するまでの経緯をご説明致します。
                                .control
                                    .swiper-button-next
                                        img(src="assets/img/common/ic-next-2.svg", alt="")
                                    .swiper-button-prev
                                        img(src="assets/img/common/ic-prev-2.svg", alt="")
                                .swiper-pagination
                        .right
                            .swiper-container
                                .swiper-wrapper
                                    a.item.swiper-slide(href="#") 
                                        figure.c-radius-8
                                            img.swiper-lazy(data-src="assets/img/top/img-9.jpg", alt="")
                                        .info
                                            h3 ボルゲーゼ家のサロンで働く
                                            .description
                                                p イタリア北部にある世界三大温泉地モンテカティーニ温泉の療法効果と様々な植物を使用した美容法を世に送り出したボルゲーゼ家のサロンで働く。
                                    a.item.swiper-slide(href="#") 
                                        figure.c-radius-8
                                            img.swiper-lazy(data-src="assets/img/top/img-10.jpg", alt="")
                                        .info
                                            h3 全体的な調和に気づく
                                            .description
                                                p 美と健康との間には明瞭な相関関係があることを痛感し、美と健康が「全体的な調和」ということをキーワードに互いに反響し合っていることに気づく。
                                    a.item.swiper-slide(href="#") 
                                        figure.c-radius-8
                                            img.swiper-lazy(data-src="assets/img/top/img-11.jpg", alt="")
                                        .info
                                            h3 つらい過去を乗り越えて
                                            .description
                                                p 説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
                                    a.item.swiper-slide(href="#") 
                                        figure.c-radius-8
                                            img.swiper-lazy(data-src="assets/img/top/img-9.jpg", alt="")
                                        .info
                                            h3 ボルゲーゼ家のサロンで働く
                                            .description
                                                p イタリア北部にある世界三大温泉地モンテカティーニ温泉の療法効果と様々な植物を使用した美容法を世に送り出したボルゲーゼ家のサロンで働く。
                                    a.item.swiper-slide(href="#") 
                                        figure.c-radius-8
                                            img.swiper-lazy(data-src="assets/img/top/img-10.jpg", alt="")
                                        .info
                                            h3 全体的な調和に気づく
                                            .description
                                                p 美と健康との間には明瞭な相関関係があることを痛感し、美と健康が「全体的な調和」ということをキーワードに互いに反響し合っていることに気づく。
                                    a.item.swiper-slide(href="#") 
                                        figure.c-radius-8
                                            img.swiper-lazy(data-src="assets/img/top/img-11.jpg", alt="")
                                        .info
                                            h3 つらい過去を乗り越えて
                                            .description
                                                p 説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
            .bg.bottom
                img.img.img-cover.lazy(data-src="assets/img/top/bg-3.jpg")
            